language-model/models/*
language-model/train/*
language-model/valid/*
datasets-preparation/panjabi-wikipedia-dataset/panjabi-wikipedia-articles/*
datasets-preparation/panjabi-wikipedia-dataset/panjabi-wikipedia-articles.zip
classification/models/*
language-model/tmp/*
classification/tmp/*
.idea/workspace.xml
language-model/.ipynb_checkpoints/
language-model/PanjabiDataset/
classification/.ipynb_checkpoints/
